<div class="chat" onclick="openChatBox('#chat-box')"><img src="./assets/images/icon/ico_chat.png" alt=" icon-chat" class="icon-chat"></div>
 <!--Box chat-->
<div id="chat-box" class="sidenav p-3 ">
    <div class="chat h-100 w-100">
         <div class="title-chat  bg-dark text-white d-flex align-items-center">
             <img src="./assets/images/icon/close.png" alt="close icon" class="mr-3" onclick="closeChatBox('#chat-box')">
             <div class="title-name">F.R.E.D Message</div>
         </div>

            <app-rules></app-rules>
         <div class="area-chat" id="are-chat">
         <ng-container *ngFor="let message of messagesArr">
                <div class="example-chat d-flex align-items-center">
                    <img src="./assets/images/KPMG.png" class="float-left  mr-3 ml-2" alt="">
                    <div class="text">
                        <span class="d-block text-muted">3:28 PM</span>
                        <p class="hello">{{message.content}}</p>
                     </div>
                 </div>
          </ng-container>
          </div>
          <div class="input-chat d-flex align-items-center">
             <input class="chats mr-2 ml-4" name="chat" id="chat" placeholder="..." autofocus #message (keydown.enter)="addMessage(message)"><img src="./assets/images/icon/ico_send.png" alt="" (click)="addMessage(message)">
         </div>
    </div>
 </div>
<!--End box chat-->
