<div class="show-content-right mt-5" id="setting-content">
  <ul class="nav nav-tabs fontsize-panel" id="myTab" role="tablist">
    <li class="nav-item ">
      <a class="nav-link active text-uppercase" id="live-tab" data-toggle="tab" href="#live" role="tab"
         aria-controls="home" aria-selected="true" data-title="User Settings">user settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-uppercase" id="zone-tab" data-toggle="tab" href="#zone" role="tab" aria-controls="profile"
         aria-selected="false" data-title="Zone Setting">zone settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-uppercase" id="yitu-tab" data-toggle="tab" href="#yitu" role="tab" aria-controls="profile"
         aria-selected="false" data-title="Yitu Log">Yitu Log</a>
   <!--<a class="nav-link text-uppercase" id="yitu-tab" data-toggle="tab" href="#yitu" role="tab" aria-controls="profile"-->
         <!--aria-selected="false" data-title="Yitu Log">Log</a>-->
    </li>
    <li class="position-absolute" style="right:10px;top:-10px;">
      <app-chat></app-chat>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <app-loading-waiting *ngIf="isShowTableUser"></app-loading-waiting>
    <div class="tab-pane fade show active m-auto text-center w-100 h-100" id="live" role="tabpanel"
         aria-labelledby="live-tab">
      <div class="content-table" id="content-table-user">
        <div>
          <button type="button" class="btn button_addfeed m-3 " style="float: right;background-color: #ffffff;"
                  data-toggle="modal" data-target="#myModal" (click)="getRole()"><i class="fa fa-plus"></i> Add New User
          </button>
        </div>

        <div style=" margin-bottom: 33px;" *ngIf="!isShowTableUser">
          <table class="table table_setting" style="margin-top: 10px;width: 95%" id="table_user">
            <thead>
            <tr>
              <th style="width: 9%">Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Permission</th>
              <th>Created At</th>
              <th class="th_action">Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let user of users">
              <tr>
                <td>
                  {{user.id}}
                </td>
                <td>
                  {{user.full_name}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>
                  <ng-container *ngFor="let per of user.permission">
                    {{per}},
                  </ng-container>
                </td>
                <td>
                  {{user.created_at}}
                </td>
                <td>
                  <button type="button" class="btn btn-outline-primary btn-edit px-3 py-1"
                          (click)="getUserById(user.id)" data-toggle="modal" data-target="#myModal_updateUSer"><i
                    class="fa fa-edit"></i> Edit
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-delete px-3 py-1"
                          (click)="deleteUser(user.id)"><i class="fa fa-times"> Delete</i></button>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="navigation-table-content " id="navigation_user">
          <a class="caret next" id="next_user"><i style="font-size: 20px;float: right; color: #f0c9d6"
                                                  class="fa fa-caret-right ic_next next_hover m-2"></i></a>
          <span class="pagin m-2" id="pagin_user" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
          <a class="caret prev" id="prev_user"><i style="font-size: 20px;float: right; color: #f0c9d6;"
                                                  class="fa fa-caret-left ic_prev m-2"></i></a>
          <br>
          <br>
        </div>
      </div>

    </div>
    <div class="tab-pane fade m-auto text-center w-100 h-100" id="zone" role="tabpanel" aria-labelledby="overview-tab">
      <app-loading-waiting *ngIf="isShowTableZone"></app-loading-waiting>
      <div class="content-table ">
        <div>
          <button type="button" class="btn button_addfeed m-3 " style="float: right;background-color: #ffffff;"
                  data-toggle="modal" data-target="#modalZone" (click)="getRole()"><i class="fa fa-plus"></i> Add New
            Zone
          </button>
        </div>
        <div style="width: 95%; margin-bottom: 33px;">
          <table class="table table_setting" style="margin-top: 10px;" id="table_zone">
            <thead>
            <tr>
              <th style="width: 9%;">Id</th>
              <th>Name</th>
              <th style="width: 18%;" class="th_action">Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let zone of zones  ">
              <tr>
                <td>
                  {{zone.id}}
                </td>
                <td>
                  {{zone.name}}
                </td>
                <td>
                  <button type="button" class="btn btn-outline-primary btn-edit px-3 py-1"
                          (click)="getZoneByID(zone.id)" data-toggle="modal" data-target="#modalUpdateZone"><i
                    class="fa fa-edit"></i> Edit
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-delete px-3 py-1"
                          (click)="deleteZone(zone.id)"><i class="fa fa-times"> Delete</i></button>
                </td>
              </tr>
            </ng-container>

            </tbody>
          </table>
        </div>
        <div style="width: 95%" class="navigation-table-content" id="navigation_zone">
          <a class="caret next" id="next_zone"><i style="font-size: 20px;float: right; color: #f0c9d6"
                                                  class="fa fa-caret-right ic_next next_hover m-2"></i></a>
          <span class="pagin m-2" id="pagin_zone" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
          <a class="caret prev" id="prev_zone"><i style="font-size: 20px;float: right; color: #f0c9d6;"
                                                  class="fa fa-caret-left ic_prev m-2"></i></a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="tab-pane fade m-auto text-center w-100 h-100" id="yitu" role="tabpanel" aria-labelledby="overview-tab">
      <app-loading-waiting *ngIf="isShowTableYitu"></app-loading-waiting>
      <div class="content-table pt-4" *ngIf="!isShowTableYitu">
        <div style="margin-bottom: 33px;">
          <table class="table table_setting" style="margin-top: 10px;width: 95%" id="table_yitu">
            <thead>
            <tr>
              <!--<img class="cursor_img" src="./assets/images/icon/ico_sort.png">-->
              <th style="width: 9%;">Id</th>
              <th>Session Id</th>
              <th>Url</th>
              <th style="width: 14%">Time Request</th>
              <th style="width: 14%">Time Respone</th>
              <!-- <th>Content </th>-->
              <th>Create At</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of listYitu">
              <tr style="height: 54px;">
                <td>
                  {{item.id}}
                </td>
                <td>
                  {{item.session_id}}
                </td>
                <td>
                  {{item.url}}
                </td>
                <td>
                  {{item.time_request}}
                </td>
                <td>
                  {{item.time_response}}
                </td>
                <!-- <td>
                    {{item.content}}
                 </td>-->

                <td>
                  {{item.created_at}}
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="navigation-table-content " id="navigation_yitu">
          <a class="caret next" id="next_yitu"><i style="font-size: 20px;float: right; color: #f0c9d6"
                                                  class="fa fa-caret-right ic_next next_hover m-2"></i></a>
          <span class="pagin m-2" id="pagin_yitu" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
          <a class="caret prev" id="prev_yitu"><i style="font-size: 20px;float: right; color: #f0c9d6;"
                                                  class="fa fa-caret-left ic_prev m-2"></i></a>
          <br>
          <br>
        </div>
      </div>
    </div>

  </div>
  <!-- End show content-->
  <!--End content right-->
</div>

<!--Modal box Add User-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="display: inline-block;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">User Settings</h2>
      </div>
      <div class="modal-body">
        <div id="addForm" style="width: 100%">
          <div class="row p-4">
            <div class="col-md-6 box add_user">
              <div class="">
                <div class="box-header p-2 pt-3 pb-3">
                  <h3 class="box-title update">
                    Add New User
                  </h3>
                </div>
                <input type="hidden" id="id" value="">
                <div class="box-body m-2">
                  <div class="form-group">
                    <label>Full name</label>
                    <input type="text" name="full_name" class="form-control" placeholder="Full name"
                           [(ngModel)]="adUser.full_name">
                  </div>
                  <div class="form-group">
                    <label>Phone number</label>
                    <input type="number" name="phone" class="form-control" placeholder="Phone number"
                           [(ngModel)]="adUser.phone">
                  </div>
                  <div class="form-group email">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Email"
                           [(ngModel)]="adUser.email">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="adUser.password"
                           placeholder="Password">
                  </div>
                </div>
                <div class="box-footer">

                </div>
              </div>
            </div>
            <div class="col-md-5 box add_user offset-md-1">
              <div class="">
                <div class="box-header p-2 pt-3 pb-3">
                  <h3 class="box-title update">
                    Permisson For User
                  </h3>
                </div>
                <div class="box-body m-2">
                  <label>
                    Permission list:
                  </label>
                  <div id="list-permission">
                    <ng-container *ngFor="let role of roles">
                      <div class="checkbox del_per" id="check-sample-permission">
                        <label>
                          <input class="check-permission " type="checkbox" name="permission[]" value="{{role.id}}">
                          <span>{{role.name}}</span>
                          <code>{{role.description}}</code>
                        </label>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn_add_page_setting btn_modal" data-dismiss="modal" (click)="addUser()">Add
          User
        </button>
      </div>
    </div>

  </div>
</div>
<!--End Modal box add user-->
<!--Modal box Update User-->
<div class="modal fade" id="myModal_updateUSer" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="display: inline-block;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">User Settings</h2>
      </div>
      <div class="modal-body">
        <div id="addForm" style="width: 100%">
          <div class="row p-4">
            <div class="col-md-6 box add_user">
              <div class="">
                <div class="box-header p-2 pt-3 pb-3">
                  <h3 class="box-title update">
                    Update User
                  </h3>
                </div>
                <input type="hidden" id="id" value="">
                <div class="box-body m-2">
                  <div class="form-group">
                    <label>Full name</label>
                    <input type="text" name="full_name" class="form-control" placeholder="Full name"
                           [(ngModel)]="upUser.full_name">
                  </div>
                  <div class="form-group">
                    <label>Phone number</label>
                    <input type="number" name="phone" class="form-control" placeholder="Phone number"
                           [(ngModel)]="upUser.phone">
                  </div>
                  <div class="form-group email">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Email"
                           [(ngModel)]="upUser.email">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="upUser.password"
                           placeholder="Password">
                  </div>
                </div>
                <div class="box-footer">

                </div>
              </div>
            </div>
            <div class="col-md-5 box add_user offset-md-1">
              <div class="">
                <div class="box-header p-2 pt-3 pb-3">
                  <h3 class="box-title update">
                    Permisson For User
                  </h3>
                </div>
                <div class="box-body m-2">
                  <label>
                    Permission list:
                  </label>
                  <div id="list-permission-update">
                    <ng-container *ngFor="let role of roles">
                      <div class="checkbox del_per" id="check-sample-permission">
                        <label>
                          <input class="check-permission " type="checkbox" name="permission[]" value="{{role.id}}">
                          <span>{{role.name}}</span>
                          <code>{{role.description}}</code>
                        </label>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateUser()">Update</button>
      </div>
    </div>

  </div>
</div>
<!--End Modal box Update user-->
<!--Modal Add Zone-->
<div class="modal fade" id="modalZone" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="display: inline-block;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Zone Settings</h2>
      </div>
      <div class="modal-body">
        <form id="addForm" style="width: 100%">
          <div class="col-md-12 box add_user">
            <div class="">
              <div class="box-header p-2 pt-3 pb-3">
                <h3 class="box-title update">
                  Add Zone
                </h3>
              </div>
              <input type="hidden" id="id" value="">
              <div class="box-body m-2">
                <div class="form-group">
                  <label>Code</label>
                  <input type="text" name="code" id="code_zone" #code class="form-control">
                </div>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="name" id="name_zone" #name class="form-control">
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label>Color</label>
                    <input type="color" name="zone_color" id="zone_color" #color class="form-control"
                           style="height: 44px;">
                  </div>
                  <div class="col-6">
                    <label>Color_Static</label>
                    <input type="color" name="zone_color" id="toi_color" #static_color class="form-control"
                           style="height: 44px;">

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label>Top From</label>
                    <input type="number" name="top_from" id="top_from" #top_from class="form-control">
                  </div>
                  <div class="col-6">
                    <label>Top To</label>
                    <input type="number" name="top_to" id="top_to" #top_to class="form-control">

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label>Left From</label>
                    <input type="number" name="left_from" id="left_from" #left_from class="form-control">
                  </div>
                  <div class="col-6">
                    <label>Left To</label>
                    <input type="number" name="left_to" id="left_to" #left_to class="form-control">

                  </div>
                </div>
                <div class="form-group email">
                  <label>Description</label>
                  <textarea name="description" id="description" #description class="form-control"></textarea>
                </div>
                <div class="form-group tag" id="tag-setting">
                  <label class="d-block">Preference Tags </label>
                  <select class="js-example-basic-multiple myTags" id="favorite" style="width: 100%" name="favorite"
                          multiple="multiple" onchange="validateSelectBox(this)">
                    <ng-container *ngFor="let tag of tags">
                      <option value="{{tag.id}}">{{tag.name}}</option>
                    </ng-container>
                  </select>
                </div>
                <div class="form-group">
                  <label style="display: none" id="plus_score">Plus Score For Tags</label>
                  <div id="result">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                (click)="addZone(code.value, name.value, color.value, static_color.value,top_from.value, top_to.value, left_from.value,left_to.value,description.value)"
                class="btn btn_add_page_setting btn_add_zone" data-dismiss="modal">Add Zone
        </button>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="modalUpdateZone" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="display: inline-block;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Zone Setting</h2>
      </div>
      <div class="modal-body">
        <form id="addForm_update" style="width: 100%">
          <div class="col-md-12 box add_user">
            <div class="">
              <div class="box-header p-2 pt-3 pb-3">
                <h3 class="box-title update">
                  Update Zone
                </h3>
              </div>
              <input type="hidden" id="id_update" value="">
              <div class="box-body m-2">
                <div class="form-group">
                  <label>Code</label>
                  <input type="text" name="code_update" id="code_zone_update" #code_update class="form-control">
                </div>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="name_update" id="name_zone_update" #name_update class="form-control">
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label>Color</label>
                    <input type="color" name="zone_color_update" id="zone_color_update" #color_update
                           class="form-control" style="height: 44px;">
                  </div>
                  <div class="col-6">
                    <label>Color_Static</label>
                    <input type="color" name="static_color_update" id="static_color_update" #static_color_update
                           class="form-control" style="height: 44px;">

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label>Top From</label>
                    <input type="number" name="top_from_update" id="top_from_update" #top_from_update
                           class="form-control">
                  </div>
                  <div class="col-6">
                    <label>Top To</label>
                    <input type="number" name="top_to_update" id="top_to_update" #top_to_update class="form-control">

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label>Left From</label>
                    <input type="number" name="left_from_update" id="left_from_update" #left_from_update
                           class="form-control">
                  </div>
                  <div class="col-6">
                    <label>Left To</label>
                    <input type="number" name="left_to_update" id="left_to_update" #left_to_update class="form-control">

                  </div>
                </div>
                <div class="form-group email">
                  <label>Description</label>
                  <textarea name="description_update" id="description_update" #description_update
                            class="form-control"></textarea>
                </div>
                <div class="form-group tag" id="tag-setting">
                  <label class="d-block">Preference Tags </label>
                  <select class="js-example-basic-multiple myTags" id="favorite_update" style="width: 100%"
                          name="favorite" multiple="multiple" onchange="validateSelectBoxUpdate(this)">
                    <ng-container *ngFor="let tag of tags">
                      <option value="{{tag.id}}">{{tag.name}}</option>
                    </ng-container>
                  </select>
                </div>
                <div class="form-group">
                  <label style="display: none" id="plus_score_update">Plus Score For Tags</label>
                  <div id="result_update">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                (click)="updateZone(code_update.value, name_update.value, color_update.value, static_color_update.value,top_from_update.value, top_to_update.value, left_from_update.value,left_to_update.value,description_update.value)"
                class="btn btn_add_page_setting btn_add_zone" data-dismiss="modal">Update Zone
        </button>
      </div>
    </div>

  </div>
</div>
