<h1 class="title"> {{title}}</h1>
<div class="content-top d-flex align-content-center">
  <div class="d-block mr-2 search-btn"><img src="./assets/images/icon/search.png" alt="icon search" id="icon-search"
                                            (click)="getFunctionSearch(getdata.value)"></div>
  <div class="ui multiple search selection dropdown" id="multi-select">
    <input type="hidden" name="profile" #getdata>
    <div class="default text">Choose Function...</div>
    <div class="menu">
      <ng-container *ngFor="let item of allFunction">
        <div class="item" [attr.data-value]="item.key" [attr.data-color]="item.value" [id]="item.value">{{item.key}}
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="show-content-right mt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link text-uppercase active fontsize-panel " id="overview-tab" data-toggle="tab" href="#overview"
         role="tab" aria-controls="profile" aria-selected="true">OVERVIEW</a>
    </li>
    <li class="position-absolute" style="right:10px;top:-10px;">
      <app-chat></app-chat>
    </li>

  </ul>
  <div class="tab-content rounded" id="myTabContent">
    <app-loading-waiting *ngIf="isLoadingStaff"></app-loading-waiting>
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <div class="content-table" id="content-table">
        <div>
          <div style="width: 95%;display: inline-block">
            <table class="table w-100" style="margin-top: 10px;" id="table">
              <thead>
              <tr>
                <th style="padding-left: 65px;font-size: 13px">Staff Name</th>
                <!-- <th>DOB </th>-->
                <th>Join Date</th>
                <th>Dept</th>
                <th>Function</th>
                <th>Top Zones</th>
                <th class="th_action"></th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <div style="" class="navigation-table-content" id="navigation_customer">
            <a class="caret next"><i style="font-size: 20px;float: right; color: #f0c9d6"
                                     class="fa fa-caret-right ic_next next_hover"></i></a>
            <span class="pagin" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
            <a class="caret prev"><i style="font-size: 20px;float: right; color: #f0c9d6;"
                                     class="fa fa-caret-left ic_prev"></i></a>
            <br>
            <br>
          </div>
        </div>
      </div>

    </div>
  </div>
  <button id="ShowDetail" (click)="ShowDetail()" style="width:0px;height: 0px;opacity: 0"></button>
  <input type="hidden" id="hidId"/>
  <div class="modal fade" id="modal-mail">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Mail</h4>
        </div>
        <div class="modal-body">
          <textarea name="editor1" class="w-100" #description id="editor1"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="send-mail" (click)="sendMail(description)">Send</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!--Detail person-->
<div id="member-detail" class="sidenav w-100">
  <div class="sideBarSearch d-flex justify-content-end m-5">
    <a class="closebtn d-inline-block text-secondary" style="cursor: pointer" onclick="closeNav('#member-detail')">×</a>
  </div>
  <div class="p-5">
    <div class="member-infor-detail d-flex">
      <img src="{{infor.file}}" [style.border-color]="infor.color" alt="avatar" class="avatar mr-3">
      <div class="more-detail text-left">
        <span class="profile title-profile d-block h5 m-0" data-profile="tax" [style.color]="infor.color">{{infor.office_location}}</span>
        <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
        <span class="position d-block h5 m-0">{{infor.department}} / {{infor.person_id}}</span>
        <span class="sub-name h4 m-0">{{infor.email}}</span>
      </div>
    </div>
    <div class="col-12 dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
      <div class="col-6 title mr-4">DOB</div>
      <div class="col-6 dateofbirth bold">{{infor.birthday}}</div>
    </div>
    <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
      <div class=" col-6 title mr-4">Contact</div>
      <div class="col-6 list-number d-inline-block">
        <div class="number bold d-block">{{infor.contact_no}}</div>
      </div>
    </div>

    <div class="top-favorite mt-4">
      <div class="my-4 favarite-title h4 text-left" data-profile="tax" [style.color]="infor.color">Top 3 Favorite
        Zones
      </div>
      <!-- each favorite -->
      <ng-container *ngFor="let fv of infor.topzone">
        <div class="col-12 each-favorite d-flex align-items-center h5 p-0">
          <div class="col-6 title  p-0 mr-2">{{fv.name}}</div>
          <div class="col-3 progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax"
               [style.background]="infor.color"></div>
          <span class="col-3 number-percent pl-0" data-profile="tax" [style.color]="infor.color">{{fv.percent}}%</span>
        </div>
        <!-- each favorite -->
      </ng-container>
      <!-- each favorite -->
    </div>
    <!-- button Send Email-->
    <button class="btn btn-email btn-lg w-100 font-weight-bold text-uppercase btn-mail-infor" data-toggle="modal"
            data-target="#modal-mail" (click)="getEmail(infor.email)">Email
    </button>

    <div class="more-detail-lg text-uppercase mt-5 h5" data-toggle="modal" data-target="#moreDetailInforMemberStaff"
         onclick="closeNav('#member-detail')" style="font-size: 14px;" (click)="getLogPersonStaff(infor.person_id)">
      More Details
      <img class="ml-3" src="./assets/images/icon/ico_right_slide.png" alt="">
    </div>
    <!-- button Send Email-->

  </div>
</div>
<!--More Detail Profile modal box-->
<div class="detail-member modal fade" id="moreDetailInforMemberStaff" tabindex="-1" role="dialog"
     aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 m-4 pr-5">
        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
          <span class="h1" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body h-100 p-0">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col-4 left">
              <div class="p-5 border-right" style="font-family: KPMGBold;">
                <div class="member-infor-detail d-flex">
                  <img src="{{infor.file}}" alt="Avatar Mr-bean" class="avatar mr-4" [style.border-color]="infor.color">
                  <div class="more-detail text-left">
                    <span class="profile title-profile d-block h4 m-0" data-profile="tax" [style.color]="infor.color"
                          style="font-size: 13px;">{{infor.office_location}}</span>
                    <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
                    <span class="position d-block h4 m-0">{{infor.department}} / {{infor.person_id}}</span>
                    <span class="sub-name  h4 m-0">{{infor.email}}</span>
                  </div>
                </div>
                <div class="dob py-3 contact-detail mt-4 h4">
                  <div class="title mr-4">DOB</div>
                  <div class="dateofbirth bold">{{infor.birthday}}</div>
                </div>
                <div class="contact py-3 contact-detail h4">
                  <div class="title mr-4">Contact</div>
                  <div class="list-number d-inline-block bold">
                    <div class="number d-block">{{infor.contact_no}}</div>
                  </div>
                </div>

                <div class="top-favorite mt-4">
                  <div class="my-4 favarite-title h4" data-profile="tax" [style.color]="infor.color">Top 3 Favorite
                    Zones
                  </div>
                  <!-- each favorite -->
                  <ng-container *ngFor="let fv of infor.topzone">
                    <div class="each-favorite d-flex align-items-center h5">
                      <div class="title">{{fv.name}}</div>
                      <div class="progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax"
                           [style.background]="infor.color"></div>
                      <span class="number-percent" data-profile="tax"
                            [style.color]="infor.color">{{fv.percent}} %</span>
                    </div>
                    <!-- each favorite -->
                  </ng-container>

                </div>
                <!-- button Send Email-->
                <button class="btn btn-email btn-lg w-100 font-weight-bold text-uppercase" data-toggle="modal"
                        data-target="#modal-mail" (click)="getEmail(infor.email)" onclick="closeModal()">Email
                </button>
                <!-- button Send Email-->
              </div>
            </div>
            <!--Right modal box detail profile-->
            <div class="col-8 right">
              <table class="table table-striped color-table log_inforlog_infor" id="logTable">
                <thead>
                <tr>
                  <!--<img src="./assets/images/icon/ico_sort.png" alt="">-->
                  <th scope="col">Day</th>
                  <th scope="col">Time In</th>
                  <th scope="col">Zones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let log of logs ">
                  <td>{{log.ngay}}</td>
                  <td>{{log.gio}}</td>
                  <td class="text-capitalize">{{log.zone_name}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--End right modal box detail profile-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--More Detail Profile modal box-->
